<!--Tree-->
<h3 *ngIf='permissions?.length' style='margin-top: 12px'>Permissões</h3>

<mat-tree [dataSource]='dataSource' [treeControl]='treeControl'
          style='margin-left: -10px;margin-top: -9px;color: #2E2E2E'>

  <mat-tree-node *matTreeNodeDef='let node' matTreeNodeToggle matTreeNodePadding>
    <button mat-icon-button type='button' disabled></button>
    {{node.item}}
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef='let node; when: hasChild' matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle type='button'
            [attr.aria-label]="'toggle ' + node.filename" disabled>
      <mat-icon class='mat-icon-rtl-mirror'>
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    {{node.item}}
  </mat-tree-node>

</mat-tree>
