<list-page [gender]="'M'"
           [deletavel]='true'
           [desativavel]='false'
           [hasAdvancedFilter]='false'
           [columns]="columns"
           [dataSource]="dataSource"
           [headline]="'Opções'"
           [subhead]="'Consultar Opções'"
           (list)="listByFilters($event)"
           [totalElements]="totalElements"
           [pageSize]="pageSize"
           [pageIndex]="pageIndex"
           (delete)="openDeleteDialog($event)"
           [displayedColumns]="displayedColumns">
</list-page>
